<!DOCTYPE html>
<html>
	<head>
		<title>Sinatra + Twitter Bootstrap</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">		
		<link href="/vendor/bootstrap/css/style.css" rel="stylesheet">
		
		<script src="/vendor/jquery.js"></script>						
		<script src="/vendor/bootstrap/js/bootstrap.js"></script>				
		
		
		<script src="/vendor/jquery.simplecolorpicker.js"></script>						
		<link rel="stylesheet" href="/vendor/jquery.simplecolorpicker.css">		

		
		<link rel="stylesheet" type="text/css" href="/vendor/jquery.datetimepicker.css">
		<script src="/vendor/jquery.datetimepicker.full.min.js"></script>

	</head>
	<body>
		<div class="container">

			<!-- Static navbar -->
			<nav class="navbar navbar-default" role="navigation">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/">My Website</a>
			  </div>
			  <div class="navbar-collapse collapse">
			    <ul class="nav navbar-nav">
			      <li><a href="/blabla">Blabla</a></li>
			      <li><a href="/visit">Записаться</a></li>
			      <li><a href="/contacts">Contacts</a></li>
			    </ul>
			  </div><!--/.nav-collapse -->
			</nav>

			<div>
			      <%if @error && @error.length > 0 then %>
			          <div class="alert alert-danger"><%=@error%></div>
			      <% end %>
			      <%= yield %>
			</div>

	</div>


  </body>
</html>
